@model ScavengeRUs.Models.Entities.Hunt

@{
    ViewData["Title"] = "Create Hunt";
}
<h1>Create a new Hunt</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                <label asp-for="HuntName" class="control-label"></label>
                <input asp-for="HuntName" required class="form-control" />
                <span asp-validation-for="HuntName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" required class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" required class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvitationText" class="control-label"></label>
                <input asp-for="InvitationText" required class="form-control" placeholder="Enter header text for email.."/>
                <span asp-validation-for="InvitationText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvitationBodyText" class="control-label"></label>
                <div>Use %user to refer to the user's name, and %code to refer to their access code</div>
                <textarea asp-for="InvitationBodyText" class="form-control" placeholder="Optional: Enter html body or plain text for the email.."></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Theme" class="control-label"></label>
                <input asp-for="Theme" required class="form-control" />
                <span asp-validation-for="Theme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Hunt" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
