@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="row justify-content-center">
    <div class="col-4">
        <section>
            <form id="account" method="post">
                <h1>@ViewData["Title"]</h1>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <!--script toggling the visibility for the password input. It shows up private when first entered and once the button is clicked the password is visible-->
                <script>
                    function togglePasswordVisibility() {
                    const passwordInput = document.getElementById('passwordInput');
                    const toggleButton = document.getElementById('togglePasswordVisibility');
                    if (passwordInput.type === "text") {
                        passwordInput.type = "password";
                        toggleButton.textContent = "Hide Password";
                    } else {
                        passwordInput.type = "text";
                        toggleButton.textContent = "Show Password";
                        }
                     }
                     </script>
                <!--This div class was already present and is the password field with an altered id.-->
                <div class="form-floating">
                    <input asp-for="Input.Password" id = "passwordInput" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <!-- Check box using the css from the form-check-input in the css bootstrap. makes the click box and calls the javascript for toggling the password visibility.-->
                <div class = "checkbox">
                    <label for = "clicker"><input class ="form-check-input" type = "checkbox" id="clicker" onclick="togglePasswordVisibility()"> Show password </label>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        @*<a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>*@
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        @*<a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>*@
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
